# This is an example. Add your own functions!

def init(api):
    @api.add
    @api.capability(None)
    def test_API():
        return "Hello world!"

    @api.add
    def hello_world(text):
        return text

    @api.add
    @api.details
    def get_ip(details):
        return details["ip"]

    @api.add
    def hello_world2(text):
        print(text)

    @api.add
    @api.capability(None)
    @api.details
    def check_user(details):
        return {
            "authenticated": details["user"] != None,
            "user": details["user"],
            "capabilities": list(details["capabilities"])
        }

