{
    "api":{
        "default_capability":"user",
        "cookie_location":"/",
        "secure_cookies":true,
        "cookie_name":"token",
    },
    "database":"mysql+pymysql://user:password@localhost/database",
    "session":{
        "mailgun_key":"your_api_key",
        "email":"noreply",
        "domain":"your_email_domain",
        "roles":{
            "root":["admin"],
            "admin":["user","accountmanager"],
            "user":["view"],
            "nobody":null
        },
        "default_role":"nobody",
        "admin_email":"email_for_support",
        "admin_user":"email_for_admin_user"
    }
}
